.store-cart {
    .card-details {
        padding: 30px;
        border-radius: 11px;
    }
    h2 {
        font-weight: bold;
        font-size: 18px;
        color: #0c0d36;
        margin-top: 18px;
    }
    .table-cart {
        margin-left: -15px;
        text-align: center;
    }
    .product-title {
        font-weight: normal;
        font-size: 20px;
        color: #0c0d36;
        margin-top: 30px;
    }
    .quantity {
        button {
            height: 30px;
            width: 30px;
            background: none;
            border: 0;
            font-size: 14px;
            color: #222222;
        }
        input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
            width: 50px;
            padding: 0 10px;
            background: none;
            text-align: center;
            color: #222222;
            border: 0;
        }
    }
    .cart-image {
        border-radius: 11px;
        max-height: 100px;
    }
    .btn-remove-cart {
        margin-top: 25px;
        @include button-variant(#e7cbbe, transparent);
    }
    .card-right {
        @include media-breakpoint-down(md) {
            margin-top: 25px;
        }
    }
    .payment-instruction {
        font-size: 14px;
        text-align: left;
        color: #b1b1b1;
    }
}