.card-list {
    margin-bottom: 10px;
    border-radius: 11px;
    .card-body {
        font-weight: normal;
        font-size: 18px;
        text-align: left;
        line-height: 40px;
        color: #342e2e;
    }
}